
 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: slategray;
  }
  header {
    padding: 20px;
    margin-bottom: 20px;
    background: snow;
  }
  nav {
    padding: 20px;
    margin-bottom: 20px;
    background-color: snow
  }
  section {
    padding: 20px;
    margin-bottom: 20px;
    background: #ccc;
  }

  #midsection {
    width: 50%;
    height: 300px;
    float: left;
    overflow: auto;
    clear: both;
    background: snow;
  }


  article {
    width: 90%;
    height: 200px;
    padding: 5px;
    margin-left: 30px;
    background: slategray;
    
    
  }
  h1 {
    height: 55px;
    width: 90%;
    padding: 5px;
    margin-bottom: 1px;
    margin-left: 20px;
    background: snow;
      
      
  }
  p {
    height: 55px;
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
    background: snow;
    
}

aside {
    width: 48%;
    height: 300px;
    float: right;
    background: snow;
}
  footer {
    padding: 20px;
    clear: both;
    background: snow;
  }